<ion-header [translucent]="false">
  <ion-toolbar color="warning">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="warning">
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!activityList">
  
    <ion-card>
      <ion-skeleton-text animated class="skeleton-image ion-no-margin"></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <ion-skeleton-text animated class="skeleton-image ion-no-margin"></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-skeleton-text animated class="skeleton-image ion-no-margin"></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-header>
    </ion-card>
  
  </div>
  
  
  
  <ion-card [routerLink]="['activity-detail', activity.id]" button *ngFor="let activity of (activityList | async)">
    <!-- I have used async because ngFor needs an array and activityList is an observable. -->
    <!-- Async will convert the observable into an array so we can use it in ngFor -->
    <ion-img [src]="activity.cropped"></ion-img>
    <ion-card-header>
      <ion-card-title>{{activity.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>



</ion-content>
